/* 多个页面所通用的组件必需的样式 */
/* 1.顶部的灰色条 */
.topbar {
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
	line-height: 36px;
}
.download-app {
	color: #f60;
}
.topbar-item {
	padding:  0   0.5em;
}
.topbar-item:last-child {
	padding-right: 0;
}
/* 2.LOGO+搜索条 */
.searchbar > .container {
	/*为子元素的绝对定位提供定位标准*/
	position: relative;  
}
.logo {
	margin:  1.5em  0;
}
.search {
	/* 保证元素在父容器中竖直居中方法1：调整上间距 */
	/* margin-top: 25px; */
	/* 保证元素在父容器中竖直居中方法2：先向下移到父容器中线一下，再向上微调自身高度一半 */
	position: absolute;
	top: 50%;   /*距离已定位的父元素顶部为父容器的50%*/
	right: 200px; /*为右侧的“我的购物车”留空*/
	margin-top: -16px;  /*往上微调自身高度的一半*/
}
.search-input {
	width: 360px;
	height: 32px;
	line-height: 32px;
	padding: 0  0.6em;
	font-size: 1.15em;
	border: 1px solid #ccc;
	margin-right: 50px;		/*让出右侧的搜索按钮的空间*/
}
.search-button {
	width: 50px;
	height: 32px;
	background: #00be56;
	color: #fff;
	line-height: 32px;
	border: none;
	font-size: 1.7em;
	position: absolute;
	right: 0;
	top: 0;
}
.my-cart {
	position: absolute;
	right: 0;
	top: 50%;
	height: 32px;
	margin-top: -16px;
	border: 1px solid #ddd;
	background: #f9f9f9;
	line-height: 32px;
	padding: 0  0.5em;
}
.my-cart >.fa{
	color:#00be56;
	padding:0 0.5em;
}
/* 3.导航条 */
.navbar {
	background: #00be56;
	border-bottom: 3px solid #b3efc0;
	height: 52px;
	font-size: 1.15em;
}
.menu{
	
}
.menu>li{
	float: left;
	line-height: 49px;
	padding: 0 1.5em;
}
.menu >li>a{
	color:#fff;
}
.menu >li:hover{
	background: #00b149;
}
.menu>li.active{
	background: #00a43d;
}
.user-center{
	background: #55c760;
	line-height: 49px;
}
.user-center a,
.user-center span{
	color: #fff;
}
.user-center a:hover{
	color:#ffff9b; 
}
/* 轮播广告 */
.carouselbar {
	border-bottom: 4px solid #ddd;
}
.carousel{
	/* 为绝对定位的子元素提供参照物 */
	position: relative;
}
.carousel .items a {
	display: block;
	width: 100%;
	height: 380px;
	background-position: center;
	/* 背景图仅显示一次不平铺 */
	background-repeat: no-repeat;
}
.carousel .items li:not(.active){  /* 不带.active的li隐藏*/
	display: none;
}
.carousel .indicators{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -72px;
}
.carousel .indicators li{
	width: 18px;
	height: 18px;
	background: #ccc;
	border-radius: 50%;
	float: left;
	margin: 0 9px;
	cursor: pointer;
}
.carousel .indicators li.active{
	background: #ff9300;
}
.carousel .controls{
	position: absolute;
	left: 50%;
	top: 50%;
}
.carousel .controls .prev,
.carousel .controls .next{
	position:absolute;
	width: 54px;
	height: 94px;
	font-size: 4em;
	line-height: 94px;
	text-align: center;
	background: rgba(0,0,0,0.2);
	color: #fff;
	margin-top: -47px;
}
.carousel .controls .prev{
	margin-left: -496px;
}
.carousel .controls .next{
	margin-left: 422px;
}
.carousel .controls .prev:hover,
.carousel .controls .next:hover{
	background: rgba(0,0,0,0.6);
}

.mainbar {
	border-bottom: 1px solid #ddd;
}
.mainbar .header{
	border-bottom: 3px solid #ddd;
	position: relative;
}
.mainbar .header h3{
	font-weight: normal;
	/* 0.5简写为.5 */
	margin-bottom: .5em;
	padding:0 0.8em;
}
.mainbar .header a{
	position: absolute;
	right: 0;
	bottom: .3em;
}
.mainbar .header span{
	width: 7em;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -3px;
	background: #00be56;
}
.mainbar .course{
	padding: 1.2em 0;

}
.mainbar .course .pic img{
	width:100%;
}
.mainbar .course .title{
	display: block;
	text-align: left;
	line-height: 1.6em;
}
.mainbar .course .teacher{
	display: block;
	font-size: .8em;
	color: #999;
	text-align: left;
}
.mainbar .course .price{
	display: block;
	font-weight: bold;
	color: #ff5a00;
	text-align: left;
	line-height: 1.6em;
	
}
.mainbar .course .teach{
	display: block;
	text-align: center;
	line-height: 1.6em;
}
.mainbar .course .maintalk{
	display: block;
	font-size: .8em;
	color: #999;
	text-align: center;
}
/* 第1/5/9个.col-lg-3中的.course没有padding-left */
.mainbar .col-lg-3:nth-child(4n+1) .course{
	/* padding-left: 0; */
	/* margin-left: -1em; */
}


/* 底部条 */
.bottombar {
	background: #eee;
}
/* 选择“底部条”中的“容器”下的第一个.row元素 */
.bottombar > .container > .row:first-child {
	border-bottom: 1px solid #ddd;
}